<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id="hello1" class="com.bean.HelloWorld" >
   <property name="message1" value ="Helloworld..!"></property>
   <property name="message2" value ="Good Morning..@"></property>
   </bean>
   
   <bean id="hello2" class="com.bean.HelloIndia" parent="hello1">
   <property name="message1" value="Hello India..!"></property>
   <property name="message3" value="Hai.....!"></property></bean>
   
   </beans>